/* Namespaced reset
------------------------------------------------------- */
.cmap-container html,
.cmap-container body,
.cmap-container div,
.cmap-container span,
.cmap-container applet,
.cmap-container object,
.cmap-container iframe,
.cmap-container h1,
.cmap-container h2,
.cmap-container h3,
.cmap-container h4,
.cmap-container h5,
.cmap-container h6,
.cmap-container p,
.cmap-container blockquote,
.cmap-container pre,
.cmap-container a,
.cmap-container abbr,
.cmap-container acronym,
.cmap-container address,
.cmap-container big,
.cmap-container cite,
.cmap-container code,
.cmap-container del,
.cmap-container dfn,
.cmap-container em,
.cmap-container img,
.cmap-container ins,
.cmap-container kbd,
.cmap-container q,
.cmap-container s,
.cmap-container samp,
.cmap-container small,
.cmap-container strike,
.cmap-container strong,
.cmap-container sub,
.cmap-container sup,
.cmap-container tt,
.cmap-container var,
.cmap-container b,
.cmap-container u,
.cmap-container i,
.cmap-container center,
.cmap-container dl,
.cmap-container dt,
.cmap-container dd,
.cmap-container ol,
.cmap-container ul,
.cmap-container li,
.cmap-container fieldset,
.cmap-container form,
.cmap-container label,
.cmap-container legend,
.cmap-container table,
.cmap-container caption,
.cmap-container tbody,
.cmap-container tfoot,
.cmap-container thead,
.cmap-container tr,
.cmap-container th,
.cmap-container td,
.cmap-container article,
.cmap-container aside,
.cmap-container canvas,
.cmap-container details,
.cmap-container embed,
.cmap-container figure,
.cmap-container figcaption,
.cmap-container footer,
.cmap-container header,
.cmap-container hgroup,
.cmap-container menu,
.cmap-container nav,
.cmap-container output,
.cmap-container ruby,
.cmap-container section,
.cmap-container summary,
.cmap-container time,
.cmap-container mark,
.cmap-container audio,
.cmap-container video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.cmap-container article,
.cmap-container aside,
.cmap-container details,
.cmap-container figcaption,
.cmap-container figure,
.cmap-container footer,
.cmap-container header,
.cmap-container hgroup,
.cmap-container menu,
.cmap-container nav,
.cmap-container section {
  display: block;
}
.cmap-container ol,
.cmap-container ul {
  list-style: none;
}
.cmap-container blockquote,
.cmap-container q {
  quotes: none;
}
.cmap-container blockquote:before,
.cmap-container blockquote:after,
.cmap-container q:before,
.cmap-container q:after {
  content: '';
  content: none;
}
.cmap-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Container
------------------------------------------------------- */
.cmap-container {
  margin: 0;
  padding: 0;
  font: 13px 'Open Sans', sans-serif;
  position: relative;
}

/* Map
------------------------------------------------------- */
.cmap-container .cmap-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #999;
}

/* Sidebar
------------------------------------------------------- */
.cmap-container .cmap-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  background: #eee;
  color: #555;
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.cmap-sidebar section {
  padding: 5px 10px;
}

.cmap-sidebar section .cmap-heading {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  margin: 3px 0;
  color: #666;
}

.cmap-sidebar em {
  font-style: italic;
  text-transform: none;
}

/* Horizontal list
------------------------------------------------------- */

.cmap-hlist li {
  display: inline-block;
}

.cmap-hlist .cmap-hlist-item {
  display: inline-block;
  padding: 3px 6px;
  background: #dadada;
  border-radius: 3px;
  margin: 2px;
}

.cmap-hlist a.cmap-hlist-item:link {
  text-decoration: none;
  color: #555;
  background: #dadada;
}

.cmap-hlist a.cmap-hlist-item:visited {
  background: #e8e8e8;
  color: #777;
}

.cmap-hlist a.cmap-hlist-item:hover, .cmap-hlist a.cmap-hlist-item:focus, .cmap-hlist label.cmap-hlist-item:hover, .cmap-hlist label.cmap-hlist-item:focus {
  color: #fcfcfc;
  background: #999;
}

.cmap-hlist a.cmap-hlist-item:active {
  background: #888;
  color: #eee;
}

.cmap-hlist label.cmap-hlist-item {
  padding: 3px 6px 3px 3px;
}

.cmap-hlist-item input {
  margin-right: 6px;
}

.cmap-hlist-item .cmap-label-text {
  display: inline-block;
  margin-right: 3px;
}

/* Properties table
------------------------------------------------------- */
.cmap-container .cmap-diff {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}
.cmap-container .cmap-diff-table {
  table-layout: fixed;
  width: 380px;
  border-collapse: collapse;
}
.cmap-container .cmap-diff-metadata,
.cmap-container .cmap-diff-tags {
  padding: 20px;
  margin-bottom: 10px;
  background: #f5f5f5;
  border-radius: 5px;
  max-height: 40vh;
  max-width: 450px;
}
.cmap-container .cmap-diff-table thead tr {
  background: #fff;
}
.cmap-container .cmap-diff-table td.cmap-table-head {
  padding: 6px 12px;
}
.cmap-container .cmap-table-head span {
  padding: 6px 0px;
  font-weight: bold;
  color: #333;
}
.cmap-container .cmap-diff-table,
.cmap-container .cmap-diff-table th,
.cmap-container .cmap-diff-table td {
  border: 1px solid #c1dad7;
  padding: 6px 12px;
  text-align: left;
}
.cmap-container .cmap-diff-table th {
  width: 80px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cmap-container .cmap-diff-table tbody tr:nth-of-type(even) {
  background: #fff;
}
.cmap-container .cmap-diff-table tbody tr:nth-of-type(odd) {
  background: #f5fafa;
}
.cmap-container .cmap-diff-table tbody tr:hover {
  background: #e5f3f3;
}
.cmap-container .cmap-diff-table td {
  width: 150px;
  overflow-x: auto;
}
.cmap-container .cmap-diff-tags .props-diff-added {
  background: rgba(57, 219, 192, 0.3);
}
.cmap-container .cmap-diff-tags .props-diff-modifiedOld {
  background: rgba(219, 149, 10, 0.3);
}
.cmap-container .cmap-diff-tags .props-diff-modifiedNew {
  background: rgba(232, 232, 69, 0.3);
}
.cmap-container .cmap-diff-tags .props-diff-deleted {
  background: rgba(204, 44, 71, 0.3);
}

/* Color box
------------------------------------------------------- */
.cmap-hlist-item .cmap-color-box {
  display:inline-block;
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #777;
  background: #123;
  margin: 0 0 -0.075em 1px;
}

.cmap-color-box.cmap-color-added {
  background: #39DBC0;
}
.cmap-color-box.cmap-color-modified-old {
  background: #DB950A;
}
.cmap-color-box.cmap-color-modified-new {
  background: #E8E845;
}
.cmap-color-box.cmap-color-deleted {
  background: #CC2C47;
}

/* Utility classes
------------------------------------------------------- */
.cmap-container .cmap-noselect {
  user-select: none;
}
.cmap-container .cmap-pointer {
  cursor: pointer;
}
.cmap-container .cmap-fill-grey {
  background: #eee;
}

.cmap-container .cmap-fill-light {
  background: #f8f8f8;
}

.cmap-container .cmap-pad1 {
  padding: 10px;
}
.cmap-container .cmap-fr {
  float: right;
}
.cmap-container .cmap-strong {
  font-weight: bold;
}
.cmap-container .cmap-inline-block {
  display: inline-block !important;
}
/*
.cmap-pt1{
  padding-top: 5px !important;
}

.cmap-pt2{
  padding-top: 10px !important;
}
*/
.cmap-pt3{
  padding-top: 15px !important;
}
/*
.cmap-pt4{
  padding-top: 20px !important;
}


.cmap-pb1{
  padding-bottom: 5px !important;
}

.cmap-pb2{
  padding-bottom: 10px !important;
}
*/
.cmap-pb3{
  padding-bottom: 15px !important;
}

/*
.cmap-pb4{
  padding-bottom: 20px !important;
}
*/

/* Scroll bar
------------------------------------------------------- */
.cmap-container .cmap-scroll-styled {
  overflow: auto;
}
.cmap-container .cmap-scroll-styled::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.cmap-container .cmap-scroll-styled::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0.15);
}
.cmap-container .cmap-scroll-styled::-webkit-scrollbar-track {
  background: none;
}
.cmap-container .cmap-scroll-styled::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

/* Loading overlay
------------------------------------------------------- */
.cmap-loading:after,
.cmap-loading:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
}
.cmap-loading:before {
  background: transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cmap-loading:after {
  background: rgba(0, 0, 0, 0.2) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICBpZD0ic3ZnMzEyMiIKICAgdmVyc2lvbj0iMS4xIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjQ4LjUgcjEwMDQwIgogICB3aWR0aD0iMjQiCiAgIGhlaWdodD0iMjQiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImxvYWRzb3VyY2UyLnN2ZyI+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhMzEyOCI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGUgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczMxMjYiIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxMTgyIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjcwOCIKICAgICBpZD0ibmFtZWR2aWV3MzEyNCIKICAgICBzaG93Z3JpZD0idHJ1ZSIKICAgICBpbmtzY2FwZTpzbmFwLWJib3g9InRydWUiCiAgICAgaW5rc2NhcGU6b2JqZWN0LW5vZGVzPSJ0cnVlIgogICAgIGlua3NjYXBlOnpvb209IjE2IgogICAgIGlua3NjYXBlOmN4PSI4Ljk3Nzk0NzciCiAgICAgaW5rc2NhcGU6Y3k9IjEwLjczMjQ3NiIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iNDgyIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIxMjciCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmczMTIyIgogICAgIHNob3dndWlkZXM9ImZhbHNlIgogICAgIGlua3NjYXBlOmd1aWRlLWJib3g9InRydWUiCiAgICAgaW5rc2NhcGU6b2JqZWN0LXBhdGhzPSJ0cnVlIgogICAgIGZpdC1tYXJnaW4tdG9wPSIwIgogICAgIGZpdC1tYXJnaW4tbGVmdD0iMCIKICAgICBmaXQtbWFyZ2luLXJpZ2h0PSIwIgogICAgIGZpdC1tYXJnaW4tYm90dG9tPSIwIj4KICAgIDxpbmtzY2FwZTpncmlkCiAgICAgICB0eXBlPSJ4eWdyaWQiCiAgICAgICBpZD0iZ3JpZDMxMzIiCiAgICAgICBlbXBzcGFjaW5nPSI1IgogICAgICAgdmlzaWJsZT0idHJ1ZSIKICAgICAgIGVuYWJsZWQ9InRydWUiCiAgICAgICBzbmFwdmlzaWJsZWdyaWRsaW5lc29ubHk9InRydWUiCiAgICAgICBvcmlnaW54PSItMTQ4cHgiCiAgICAgICBvcmlnaW55PSItMzU4cHgiIC8+CiAgICA8c29kaXBvZGk6Z3VpZGUKICAgICAgIG9yaWVudGF0aW9uPSItMC43MDcxMDY3OCwwLjcwNzEwNjc4IgogICAgICAgcG9zaXRpb249IjEyLDEyIgogICAgICAgaWQ9Imd1aWRlNDEwNSIgLz4KICA8L3NvZGlwb2RpOm5hbWVkdmlldz4KICA8cGF0aAogICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2ZpbGw6I2ZmZmZmZjtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MTI7bWFya2VyOm5vbmU7dmlzaWJpbGl0eTp2aXNpYmxlO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIKICAgICBkPSJNIDEyIDAgTCAxMiA1IEMgMTUuODY1OTkzIDUgMTkgOC4xMzQwMDY3IDE5IDEyIEwgMjQgMTIgQyAyNCA1LjM3MjU4MyAxOC42Mjc0MTcgMCAxMiAwIHogIgogICAgIGlkPSJwYXRoMzk1NiIgLz4KICA8cGF0aAogICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgc3R5bGU9Im9wYWNpdHk6MC40O2NvbG9yOiMwMDAwMDA7ZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoxMjttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgIGQ9Ik0gMTIsMCBDIDUuMzcyNTgzLDAgMCw1LjM3MjU4MyAwLDEyIGMgMCwzLjE4MjU5OCAxLjI0OTU2Myw2LjI0OTU2MyAzLjUsOC41IDIuMjUwNDM3LDIuMjUwNDM3IDUuMzE3NDAyLDMuNSA4LjUsMy41IDMuMTgyNTk4LDAgNi4yNDk1NjMsLTEuMjQ5NTYzIDguNSwtMy41IEMgMjIuNzUwNDM3LDE4LjI0OTU2MyAyNCwxNS4xODI1OTggMjQsMTIgbCAtNSwwIGMgMCwzLjg2NTk5MyAtMy4xMzQwMDcsNyAtNyw3IEMgOC4xMzQwMDY4LDE5IDUsMTUuODY1OTkzIDUsMTIgNSw4LjEzNDAwNjcgOC4xMzQwMDY4LDUgMTIsNSB6IgogICAgIGlkPSJwYXRoMzE3NCIKICAgICBzb2RpcG9kaTpub2RldHlwZXM9ImNjY2NjY2NjY2NjIiAvPgo8L3N2Zz4K) 50% 50% no-repeat;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  -ms-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.cmap-spinner:after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiCiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiCiAgIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIgogICBpZD0ic3ZnMzEyMiIKICAgdmVyc2lvbj0iMS4xIgogICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjQ4LjUgcjEwMDQwIgogICB3aWR0aD0iMjQiCiAgIGhlaWdodD0iMjQiCiAgIHNvZGlwb2RpOmRvY25hbWU9ImxvYWRzb3VyY2UyLnN2ZyI+CiAgPG1ldGFkYXRhCiAgICAgaWQ9Im1ldGFkYXRhMzEyOCI+CiAgICA8cmRmOlJERj4KICAgICAgPGNjOldvcmsKICAgICAgICAgcmRmOmFib3V0PSIiPgogICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PgogICAgICAgIDxkYzp0eXBlCiAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4KICAgICAgICA8ZGM6dGl0bGUgLz4KICAgICAgPC9jYzpXb3JrPgogICAgPC9yZGY6UkRGPgogIDwvbWV0YWRhdGE+CiAgPGRlZnMKICAgICBpZD0iZGVmczMxMjYiIC8+CiAgPHNvZGlwb2RpOm5hbWVkdmlldwogICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIKICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIKICAgICBib3JkZXJvcGFjaXR5PSIxIgogICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiCiAgICAgZ3JpZHRvbGVyYW5jZT0iMTAiCiAgICAgZ3VpZGV0b2xlcmFuY2U9IjEwIgogICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIgogICAgIGlua3NjYXBlOnBhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxMTgyIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjcwOCIKICAgICBpZD0ibmFtZWR2aWV3MzEyNCIKICAgICBzaG93Z3JpZD0idHJ1ZSIKICAgICBpbmtzY2FwZTpzbmFwLWJib3g9InRydWUiCiAgICAgaW5rc2NhcGU6b2JqZWN0LW5vZGVzPSJ0cnVlIgogICAgIGlua3NjYXBlOnpvb209IjE2IgogICAgIGlua3NjYXBlOmN4PSI4Ljk3Nzk0NzciCiAgICAgaW5rc2NhcGU6Y3k9IjEwLjczMjQ3NiIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iNDgyIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIxMjciCiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIKICAgICBpbmtzY2FwZTpjdXJyZW50LWxheWVyPSJzdmczMTIyIgogICAgIHNob3dndWlkZXM9ImZhbHNlIgogICAgIGlua3NjYXBlOmd1aWRlLWJib3g9InRydWUiCiAgICAgaW5rc2NhcGU6b2JqZWN0LXBhdGhzPSJ0cnVlIgogICAgIGZpdC1tYXJnaW4tdG9wPSIwIgogICAgIGZpdC1tYXJnaW4tbGVmdD0iMCIKICAgICBmaXQtbWFyZ2luLXJpZ2h0PSIwIgogICAgIGZpdC1tYXJnaW4tYm90dG9tPSIwIj4KICAgIDxpbmtzY2FwZTpncmlkCiAgICAgICB0eXBlPSJ4eWdyaWQiCiAgICAgICBpZD0iZ3JpZDMxMzIiCiAgICAgICBlbXBzcGFjaW5nPSI1IgogICAgICAgdmlzaWJsZT0idHJ1ZSIKICAgICAgIGVuYWJsZWQ9InRydWUiCiAgICAgICBzbmFwdmlzaWJsZWdyaWRsaW5lc29ubHk9InRydWUiCiAgICAgICBvcmlnaW54PSItMTQ4cHgiCiAgICAgICBvcmlnaW55PSItMzU4cHgiIC8+CiAgICA8c29kaXBvZGk6Z3VpZGUKICAgICAgIG9yaWVudGF0aW9uPSItMC43MDcxMDY3OCwwLjcwNzEwNjc4IgogICAgICAgcG9zaXRpb249IjEyLDEyIgogICAgICAgaWQ9Imd1aWRlNDEwNSIgLz4KICA8L3NvZGlwb2RpOm5hbWVkdmlldz4KICA8cGF0aAogICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2ZpbGw6I2ZmZmZmZjtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MTI7bWFya2VyOm5vbmU7dmlzaWJpbGl0eTp2aXNpYmxlO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIKICAgICBkPSJNIDEyIDAgTCAxMiA1IEMgMTUuODY1OTkzIDUgMTkgOC4xMzQwMDY3IDE5IDEyIEwgMjQgMTIgQyAyNCA1LjM3MjU4MyAxOC42Mjc0MTcgMCAxMiAwIHogIgogICAgIGlkPSJwYXRoMzk1NiIgLz4KICA8cGF0aAogICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiCiAgICAgc3R5bGU9Im9wYWNpdHk6MC40O2NvbG9yOiMwMDAwMDA7ZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDoxMjttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIgogICAgIGQ9Ik0gMTIsMCBDIDUuMzcyNTgzLDAgMCw1LjM3MjU4MyAwLDEyIGMgMCwzLjE4MjU5OCAxLjI0OTU2Myw2LjI0OTU2MyAzLjUsOC41IDIuMjUwNDM3LDIuMjUwNDM3IDUuMzE3NDAyLDMuNSA4LjUsMy41IDMuMTgyNTk4LDAgNi4yNDk1NjMsLTEuMjQ5NTYzIDguNSwtMy41IEMgMjIuNzUwNDM3LDE4LjI0OTU2MyAyNCwxNS4xODI1OTggMjQsMTIgbCAtNSwwIGMgMCwzLjg2NTk5MyAtMy4xMzQwMDcsNyAtNyw3IEMgOC4xMzQwMDY4LDE5IDUsMTUuODY1OTkzIDUsMTIgNSw4LjEzNDAwNjcgOC4xMzQwMDY4LDUgMTIsNSB6IgogICAgIGlkPSJwYXRoMzE3NCIKICAgICBzb2RpcG9kaTpub2RldHlwZXM9ImNjY2NjY2NjY2NjIiAvPgo8L3N2Zz4K) 50% 50% no-repeat;
  background-size: 20px;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  opacity: .5;
  -webkit-animation: rotate 1s linear infinite;
  -moz-animation: rotate 1s linear infinite;
  -ms-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
