.diff-list .added {
    color: #2f6325;
}

.diff-list .unchanged {
    color: #333;
}

.diff-list .modifiedOld {
    color: #6d6b42;
}

.diff-list .modifiedNew {
    color: #999441;
}

.diff-list .deleted {
    color: #722121;
}