.diff-list .added {
    color: #2f6325;
}

.diff-list .unchanged {
    color: #111;
}

.diff-list .modifiedOld {
    color: #646d27;
}

.diff-list .modifiedNew {
    color: #899923;
}

.diff-list .deleted {
    color: #722121;
}