{
  "extends": [
    "mourner",
    "plugin:react/recommended"
  ],
  "rules": {
    "space-before-function-paren": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ignore": [
    "dist"
  ]
}